<h1>
  <%= @portfolio.title %>
</h1>
<em>
  <%= @portfolio.subtitle %>
</em>
<p>
  <%= @portfolio.body %>
</p>
<%= image_tag @portfolio.thumb_image unless @portfolio.thumb_image.nil? %>
<%= link_to "Edit", edit_portfolio_path(@portfolio.id) %>
