Hi, <%= current_user.first_name%>
<hr>

<%= content_tag :p, class: "my-special-class" do %>
Hi! I'm in p tag
<% end %>

<h1>Blog posts</h1>
<p>
   <%= @posts.inspect %>
</p>
<h3>Skills</h3>
<p>
   <%= @skills.inspect %>
</p>
<%= current_user.class %>
