<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <META name="keywords" content="<%= @seo_keywords %>" />
    <%= favicon_link_tag 'favicons/favicon.png' %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of nav -->
    <%= render 'shared/blog_nav' %>
    <!-- End of nav -->

    <!-- Start of blog header -->
    <%= render 'shared/blog_header' %>
    <!-- End of blog header -->

    <!-- Start of container and row element -->
    <main role="main" class="container">
      <div class="row">
        <%= yield %>
        <!-- Start of sidebar -->
        <%= render 'shared/blog_sidebar' %>
        <!-- End of sidebar -->
      </div>
    </main>
    <!-- End of container and row element -->

    <!-- Start of footer -->
    <%= render 'shared/blog_footer' %>
    <%= alerts_helper %>
    <!-- End of footer -->
  </body>
</html>
