<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <META name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of  nav -->
    <%= render 'shared/portfolio_nav' %>
    <!-- End of nav -->

    <!-- Start of Portfolio body -->


    <main role="main">
      <!-- Start Portfolio Masthead  -->
      <%= if !logged_in?(:site_admin)
        render 'shared/portfolio_masthead'
      end %>
      <!-- Start Portfolio Masthead  -->

      <!-- Start of Portfolio content -->

        <%= yield %>
      <!-- End of Portfolio content -->

    </main>
    <!-- End of Portfolio body -->

    <!-- Start of footer -->
    <%= render 'shared/portfolio_footer' %>
    <%= alerts_helper %>
    <!-- End of footer -->
    
  </body>
</html>
